:root {

    --font-stack-primary: 'Nunito', sans-serif;
    --font-stack-accent: 'Merriweather', serif;

    --base-font-size: 16px;

    --font-regular: 400;
    --font-bold: 700;
    --font-light: 300;

    --color-primary-dark: #F4A52C;
    --color-primary-med: #F6B041;
    --color-primary-light: #F6B756;
    --color-accent: #930;
    --color-red-dark: #7C1105;
    --color-red-light: #F0CAC7;
    --color-blue-link: #09C;
    --color-blue-link-dark: #066;
    --color-black: #000;
    --color-white: #FFF;
    --color-bg: #F6F6F6;

    --box-shadow: 0px 0px 6px rgba(0,0,0,0.75);

    --footer-height: 4.5rem;
}