.toTopBtn {
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    width: 50px;
    height: 50px;
    font-size: 35px;
    line-height: 40px;
    text-align: center;
    cursor: pointer;
    border: 2px solid var(--color-primary-light);
    background-color: var(--color-bg);
    color: var(--color-primary-light);
    border-radius: 50%;
    opacity: .55;
    transition: 250ms ease-in-out;

    &:hover {
        opacity: 1;
    }
}